:root{
    --header-color:#ffffff;
    --accent-color:#2196F3;
    --main-font:"Roboto",sans-serif;
    --main-title-color:#303030;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family:var(--main-font)
}
.list {list-style: none;}
.link{text-decoration: none;}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}

/*----------------HEADER--------------------*/
.header{
    background-color: #ffffff;
    
}
.header-nav{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.header-logo{
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
   
}
.header-list{
    display: flex;
align-items: center;

}
.header-item-list {
font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.header-item-list:hover {
color: #2196F3;
}
.header-item-list:focus{color: #2196F3;}

.header-item:not(:last-child){
    margin-right: 50px;
}

.header-contacts{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        margin-left: 50px;
       
}
.header-contacts:hover,.header-contacts:focus{color: #2196F3;}

.header-connect{
    margin-left: auto;
}
/*----------------MAIN------------------*/
.main-title{
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-transform: uppercase;
        padding-left: 235px;
        padding-right: 235px;
        margin-bottom: 40px;

    }
/*padding-left: 235px;
padding-right: 235px;*/
.main-item .container{
    
        padding-top: 300px;
        padding-bottom: 300px;
       text-align: center;
        }
.main-item{
    background-color: #2F303A;
    
}
.main-btn
{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    min-width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    }



    



/*---------------------ABOUT----------------------*/

 
 .about .container{
    padding-bottom: 94px;
    padding-top: 94px;
 }

 .about-list{
     display: flex;
 }

.about-item{
    max-width: 270px;
}

.about-title
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-text
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    
}

.about-item:not(:last-child){
    margin-right: 30px;
}

/*---------------------WORK--------------------*/
.work .container{
    padding-bottom: 94px;
}
.work-title{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: #212121;

}
.work-title{
    text-align: center;
    margin-bottom: 50px;
}

.work-list{
    display: flex;

}

.work-item:not(:first-child){
    margin-left: 30px;
}

/*------------------------TEAM-------------------*/
.team .container{
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title
{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.team-list
{
    display: flex;

}

.team-item:not(:first-child)
{
    margin-left: 30px;
}

.team-content{
 margin-top: 30px;
}

.team-after-title
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    padding-bottom: 10px;
}
.team-text
{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

/*-----------------------FOOTER----------------------*/
.footer {
    background-color: #2F303A;

}
.footer .container{
    
    padding-top: 60px;
    padding-bottom: 60px;
}
    .footer-position
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-position:hover,.footer-position:focus{color: #2196F3;}
.footer-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: #2196F3;
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    display: flex;
    
}
.footer-list{
    margin-top: 20px;
   
}
.footer-position-list{
    margin-bottom: 9px;
}
/*--------------------------------------------------------------------------------*/
.btn
{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
 
}

.btn:hover,.btn:focus{color: #FFFFFF; background-color: #2196F3;}

.button-list{margin-top: 100px;}

.btn-item {
    display: flex;
   justify-content: center;
   padding-bottom: 34px;
   
}

.btn-list {
    margin-left: 8px;

}



.pictures-title
{font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;}

.pictures-after-title
{font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;}


/*-------PICTURES--------*/
.pictures-list
{
    display: flex;
    flex-wrap: wrap;
   
}


.pictures-item:nth-child(3n+2)
{
margin-left: 30px;
}

.pictures-item:nth-child(3n+3){
    margin-left: 30px;
}



.pictures-content{
    padding-left: 24px;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
}




/*.pictures-item{
    padding-bottom: 30px;
}
/*
.pictures-title{
    padding-top: 20px;
    padding-bottom: 4px;
    padding-left: 24px;
}
.pictures-after-title{
    padding-left: 24px;
}*/
